@import "./media";
$col: 12;
$gutter: 10px; // khoảng cách giữa cách col
.row {
  display: flex;
  flex-wrap: wrap;

  //xóa khoảng cách đầu + cuối: (có thể xóa)
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  //tạo khoảng cách giữa các cột: (có thể xóa)
  div[class^="col-"] {
    padding: $gutter/2;
  }

  @include rs-xs {
    @for $i from 1 through $col {
      .col-xs-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-sm {
    @for $i from 1 through $col {
      .col-sm-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-md {
    @for $i from 1 through $col {
      .col-md-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-lg {
    @for $i from 1 through $col {
      .col-lg-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-xl {
    @for $i from 1 through $col {
      .col-xl-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
}
